div {
    scrollbar-color: var(--blue700) var(--gray900);
    scrollbar-width: thin;
}

.generic__note {
    text-align: center;
    font-weight: 0.7rem;
    color: var(--gray600);
    margin: 0.5rem 0;
    &-warning {
        color: var(--red600);
    }
}

.generic__resetButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: solid 2px var(--blue900);
    background-color: var(--blue100);
    color: var(--blue800);
    cursor: pointer;
    min-width: 8rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    svg {
        height: 1rem;
        width: 1rem;
        path {
            stroke: var(--blue900);
        }
    }
    &:hover {
        color: var(--teal50);
        background-color: var(--teal600);
        svg {
            path {
                stroke: var(--teal50);
            }
        }
    }
}
