.cityDefault {
    color: var(--gray100);
}
.cityOwnerRed {
    color: var(--red700);
}
.cityOwnerPurple {
    color: var(--violet700);
}
.cityOwnerOrange {
    color: var(--amber600);
}

.cityOne {
    color: #0a0c11;
}
.cityTwo {
    color: #cbd5e1;
}
.cityThree {
    color: #004935;
}
