div {
    scrollbar-color: var(--blue700) var(--gray900);
    //scrollbar-width: thin;
}

.generic__note {
    text-align: center;
    font-weight: 0.7rem;
    color: var(--gray600);
    margin: 0.5rem 0;
    max-width: 30rem;
    &-warning {
        color: var(--red600);
    }
}

.generic__resetButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: solid 2px var(--blue900);
    background-color: var(--blue100);
    color: var(--blue800);
    cursor: pointer;
    min-width: 8rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    svg {
        height: 1rem;
        width: 1rem;
        path {
            stroke: var(--blue900);
        }
    }
    &:hover {
        color: var(--teal50);
        background-color: var(--teal600);
        svg {
            path {
                stroke: var(--teal50);
            }
        }
    }
}

.taskbar {
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 1fr;

    position: sticky;
    top: 0;

    width: 100%;
    height: fit-content;

    border-bottom: solid 2px var(--gray900);
    background-color: var(--gray800);
    margin-bottom: 0.5rem;
    z-index: 5;

    h5 {
        grid-column: 1 / -1;
        grid-row: 1;
        text-align: center;
        width: 100%;
        font-size: 1rem;
        cursor: all-scroll;
        padding: 0.4rem 0;
        margin: 0;
    }
    button {
        grid-column: 2;
        grid-row: 1;
        border: none;
        background: inherit;
        color: inherit;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 2;
        &:hover,
        &:focus {
            color: var(--red600);
        }
    }
}

.spacer {
    height: 1px;
    background-color: var(--gray600);
    margin: 2rem 0;
}
.clickIcon {
    cursor: pointer;
    color: var(--gray600);
    svg {
        font-size: 1.3rem;
    }
    &:hover {
        color: var(--teal500);
    }
}

.itemToggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

// overrides
.reactToggle.react-toggle--checked .react-toggle-track {
    background-color: var(--blue700);
    &:hover,
    &:focus {
        background-color: var(--blue700);
    }
}
.reactToggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--teal600);
    &:hover {
        background-color: var(--teal600);
    }
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    &:hover {
        background-color: var(--blue800);
    }
    &:focus-within {
        background-color: var(--blue800);
    }
}
.reactToggle {
    .react-toggle-track {
        background-color: var(--gray800);
    }
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--teal600) !important;
}
