.header {
    cursor: context-menu;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-size);
    background-color: var(--gray900a);
    color: var(--gray100);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 1.3rem;
    }
    &-title {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 100%;
        span {
            margin-right: 0.5rem;
            color: var(--gray600);
        }
    }
    &-search {
        min-width: 30%;
        background-color: var(--gray900a);
        color: var(--gray100);
        border-radius: 4px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        input {
            width: 100%;
            font-size: 1.1rem;
            padding: 0.2rem 1rem;
            border: solid 1px var(--gray800);
            color: var(--gray100);
            background-color: inherit;
            &:focus,
            &:focus-visible {
                border: solid 1px var(--gray600);
                outline: none;
            }
        }
        svg {
            position: absolute;
            top: 0.1rem;
            right: 0.5rem;
            height: 1.5rem;
            width: 1.5rem;
        }
        &-button {
            cursor: pointer;
            transition: all 200ms;
            color: var(--gray300);
            &:hover {
                color: var(--teal700);
                transform: translateY(-1px);
                transform: scale(1.3);
            }
        }
        &-leftButton {
            color: var(--gray700);
            margin-right: 2rem;
            cursor: pointer;
            transition: all 200ms;
            &:hover {
                color: var(--red700);
                transform: translateY(-1px);
                transform: scale(1.3);
            }
        }
    }
}

.buttons__container {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.buttons__item {
    margin: 0;
    background-color: inherit;
    color: var(--gray100);
    border: none;
    cursor: pointer;
    transition: transform ease-in 100ms;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.2rem;
    span {
        font-size: 1rem;
    }
    svg {
        height: 1.5rem;
        width: 1.5rem;
    }
    &:hover {
        transform: translateY(-2px);
        color: var(--gray400);
    }
    &-active {
        color: var(--teal500);
        &:hover {
            color: var(--teal700);
        }
    }
}
