.landing {
    cursor: context-menu;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--gray900);
    display: flex;
    justify-content: center;
}

.landing__background-image {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.01;
    filter: grayscale(0.7);
    pointer-events: none;
}

.landing__hero {
    width: 100%;
    height: 100%;
    max-width: 160rem;
    // display: grid;
    // grid-template-columns: 10% 40% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &-content {
        margin-right: 25%;
        width: 50%;
        z-index: 2;
        height: fit-content;
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    h1 {
        margin: 0;
        font-size: 4rem;
        color: var(--gray100);
        line-height: 4.7rem;
    }
    &-title {
        width: 80%;
        span {
            margin-right: 0.5rem;
            color: var(--gray600);
        }
    }
    &-description {
        width: 70%;
        font-size: 1.2rem;
        color: var(--gray500);
    }

    &-image {
        width: 100%;

        position: absolute;
        top: 0;
        left: 50%;
        animation: toColor 60s infinite;
        animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
        grid-column: 3;
        z-index: 1;
        pointer-events: none;
        -webkit-mask-image: url("../../public//images/compass.svg");
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
    }
}

.landing__mode {
    margin-top: 4rem;
    width: 100%;
    justify-content: flex-start;
    display: flex;
    gap: 2rem;
    &-button {
        z-index: 2;
        border: solid 3px var(--blue900);
        background-color: var(--gray900);
        border-radius: 4px;
        color: var(--blue100);
        min-width: 20rem;
        padding: 0.75rem 0;
        box-shadow: var(--shadow900);
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &:hover,
        &:focus {
            border-color: var(--teal800);
            color: var(--teal100);
            transform: translateY(-4px);
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.7rem;
            width: 100%;
            position: relative;
            svg {
                position: absolute;

                top: -2.3rem;

                font-size: 1.5rem;
                border-radius: 50%;
                padding: 0.3rem;
                background-color: var(--blue900);
            }
            margin-bottom: 0.3rem;
        }
        &-description {
            font-size: 0.7rem;
            color: var(--gray600);
            text-transform: uppercase;
        }
    }
}

@keyframes toColor {
    0% {
        -webkit-filter: grayscale(80%);
        filter: grayscale(80%);
    }
    25% {
        -webkit-filter: grayscale(60%);
        filter: grayscale(60%);
    }
    50% {
        -webkit-filter: grayscale(40%);
        filter: grayscale(40%);
    }
    75% {
        -webkit-filter: grayscale(60%);
        filter: grayscale(60%);
    }
    100% {
        -webkit-filter: grayscale(80%);
        filter: grayscale(80%);
    }
}
