@media only screen and (min-width: 00px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1025px) {
    :root {
        --header-size: 8rem;
    }

    canvas {
        width: 100vw !important;
        height: 100vh !important;
    }

    .tempLoading {
        &-title {
            h1 {
                font-size: 2rem;
            }
        }
        &-quote {
            width: 90%;
        }
        &-loading {
            strong {
                font-size: 4rem;
            }
        }
    }

    .header {
        height: fit-content;
        min-height: var(--header-size);
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        h1 {
            padding-top: 1rem;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
        }
        &-title {
            width: 100%;
            flex-wrap: wrap;
        }
        &-search {
            width: 90%;
            height: 2.5rem;
            svg {
                top: 0.5rem;
            }
        }
    }
    .buttons__container {
        width: 100%;
    }
    .buttons__item {
        width: 100%;
        padding: 1rem 0;
        justify-content: space-evenly;
        span {
            display: none;
        }
    }

    .timeline__container {
        height: 6rem;
        gap: 0.5rem;
    }
    .timeline__date {
        font-size: 1rem;
    }
    .timeline__event {
        &-item {
            width: 3rem;
            height: 3rem;
            gap: 0;
            &-icon {
                width: 3rem;
                height: 3rem;
                &:hover {
                    transform: translateY(0);
                }
                &-active {
                    transform: translateY(0) !important;
                }
            }
        }
    }

    .landing__hero {
        overflow-y: auto;
        grid-template-columns: 5% 90% 5%;
        gap: 0;
        display: grid;
        &-content {
            text-align: center;
            margin-top: 1rem;
            margin-right: 0;
            width: 100%;
        }
        &-title,
        &-description {
            width: 100%;
            padding: 1rem;
            font-size: 1rem;
        }
        &-title {
            h1 {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }
        &-description {
            color: var(--gray100);
        }
        &-image {
            position: absolute;
            left: 0;
            overflow: hidden;
            max-width: 100vw;
            opacity: 0.4;
        }
    }
    .landing__mode {
        margin-top: 1rem;
        flex-wrap: wrap;
        width: 100%;
        &-button {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        --header-size: 2rem;
    }
    .worldmap {
        top: 6rem;
    }

    .timeline__container {
        margin-bottom: -0.2rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .worldmap {
        width: 100%;
        top: 3.5rem;
    }
}
