.panel {
    cursor: context-menu;
    position: absolute;
    width: fit-content;
    min-width: 10rem;
    height: auto;
    margin: 0;
    top: var(--header-size);
    left: 0;
    overflow: hidden;
    z-index: 2;
    background-color: var(--gray900a);
    color: var(--gray300);
    margin-bottom: 13rem;
}
.panel-scroll {
    height: 100%;
}

.panel__draggable {
    border-radius: 8px;
    max-height: 25rem;
    border: solid 1px black;
    overflow-y: auto;
}

.panel__books {
    position: absolute;
    right: 1%;
    top: 35%;
    left: initial;
    width: fit-content;
}
.panel__place {
    position: absolute;
    top: 20%;
    left: 30%;
}
.panel__characters {
    top: calc(var(--header-size) + 1%);
    left: 1%;
    max-height: 70%;
}

.panel__item {
    width: auto;
    padding: 0 1rem;
    margin: 0 1rem 2rem 1rem;

    h5,
    h4 {
        text-align: center;
        margin: 0 0 1rem 0;
        font-size: 1.1rem;
        color: var(--gray200);
    }
    h4 {
        margin: 0;
        padding: 0.3rem 0.5rem;
    }

    &-table {
        border-collapse: separate;
        border-spacing: 0 1px;
        border-top: dotted 1px var(--gray800);
        td,
        th {
            padding: 0.2rem 0.5rem;
        }
    }
    &-maxWidth {
        width: 500px;
    }
    &-container {
        &-table {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 0.5rem;
        }
        &-line {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &-info {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: fit-content;
            padding: 0.3rem 0.5rem;
            border-radius: 4px;
            cursor: pointer;
            svg {
                max-height: 1.3rem !important;
                max-width: 1.3rem !important;
                padding-top: 0.3rem;
            }
            &:hover {
                background: var(--gray800);
            }

            &-inactive {
                color: var(--gray700);
                path {
                    fill: var(--gray700);
                }
            }

            &-active {
                color: white;
                path {
                    fill: white;
                }
            }

            &-activeButton {
                color: var(--teal500) !important;
                background-color: var(--teal900) !important;
            }
            &-small {
                font-size: 0.7rem;
            }
            &-link {
                display: flex;
                align-items: center;
                gap: 1rem;
                svg {
                    max-height: 2rem !important;
                    max-width: 2rem !important;
                    font-size: 2rem;
                }
                &:hover {
                    color: white;
                }
            }
            &-description {
                max-width: 500px;
                word-wrap: break-word;
                display: flex;
                i {
                    padding-top: 1rem;
                    color: var(--amber500);
                    text-align: right;
                    width: 100%;
                }
            }
            button {
                width: 100%;
                border: none;
                background-color: var(--blue900);
                color: var(--blue100);
                font-size: 1.2rem;
                padding: 0.2rem;
                cursor: pointer;
            }
        }
    }
}
.tablerow-minwidth {
    min-width: 22ch;
}

.panel__item-last {
    padding-bottom: 15rem;
}

.disclaimer {
    font-size: 0.8rem;
    color: var(--gray600);
}

.description-large {
    border-top: dotted 1px var(--gray700);
    flex-wrap: wrap;
    max-width: 500px;
    cursor: default;
    &:hover {
        background: inherit;
    }
    p {
        width: 100%;
        max-width: 100%;
    }
}

.panel__info {
    width: 70ch;
    margin-top: 2rem;
    border-bottom: dotted 1px white;
    h6 {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
        margin-block: 0.5rem;
    }
    p {
        margin: 0;
        padding: 0;
    }
}
.intoItem__container {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    &-title {
        font-size: 1.5rem;
        width: 100%;
    }
    a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        svg {
            height: 2.5rem;
            width: 2.5rem;
            background-color: var(--gray800);
            border-radius: 100%;
            padding: 0.5rem;
        }
        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &:hover,
        &:focus {
            color: var(--blue500);
        }
    }
    p {
        width: 100%;
        font-size: 0.9rem;
        color: var(--gray400);
    }
}

.toggle__button {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-block: 0.5rem;
    padding: 0.3rem 0.5rem;

    &-item {
        margin: 0.5rem 0;
        border-radius: 16px;
        padding: 0.3rem 1rem;
        background-color: var(--gray800);
        color: var(--gray600);
        border: none;
        cursor: pointer;
        border: solid 1px transparent;
    }
    &-active {
        background-color: var(--gray800);
        color: var(--teal400);
        border: solid 1px var(--teal400);
        &:hover {
            transform: translateY(-2px);
            border: solid 1px var(--teal800);
        }
    }
}

.panel__nohover {
    cursor: default;
    svg {
        font-size: 1.3rem;
    }
    &:hover {
        background-color: inherit;
    }
    &-hover {
        text-align: center;
        cursor: pointer;

        &:hover {
            color: var(--teal600);
            transform: translateY(-2px);
            svg {
                path {
                    fill: var(--teal500);
                }
            }
        }
    }
}
