.timeline__controls {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    bottom: 5rem;
    padding: 0.5rem;
    left: 50%;
    z-index: 3;
    background-color: var(--blue900);
    border-radius: 50%;
    color: var(--gray100);
    border: none;
    cursor: pointer;
    transition: transform ease-in 100ms;
    svg {
        height: 1.5rem;
        width: 1.5rem;
    }
    &:hover {
        transform: translateY(-4px);
        color: var(--gray400);
    }
}

.timeline__container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--gray900);
    z-index: 2;
    border: var(--border);
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    cursor: ew-resize;
    &-drag {
        cursor: grab;
    }
}

.timeline {
    margin-left: 1rem;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
}

.timeline__date {
    grid-row: 1;
    grid-column: 1;
    color: var(--gray100);
    font-size: 1.5rem;
}

.timeline__event {
    &-container {
        grid-row: 2;
        grid-column: 1;
        display: flex;
    }
    &-item {
        width: 3rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        cursor: pointer;
        margin: 0.2rem 1rem 0.5rem 0;
        &-icon {
            background: var(--gray900);
            width: 3rem;
            height: 3rem;
            box-sizing: border-box;
            -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            &:hover {
                transform: translateY(-2px);
            }
            &-active {
                transform: translateY(-10px) !important;
                background: var(--gray800) !important;
                clip-path: circle(62.9% at 50% 50%);
            }
        }
        &-filter {
            background: var(--gray900) !important;
        }
    }
}

.indiana-scroll-container {
    overflow: auto;
    &--dragging {
        scroll-behavior: auto !important;
        > * {
            pointer-events: none;
            cursor: grab;
        }
    }
    &--hide-scrollbars {
        overflow: hidden;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none !important;
            height: 0 !important;
            width: 0 !important;
            background: transparent !important;
            -webkit-appearance: none !important;
        }
    }
    &--native-scroll {
        overflow: auto;
    }
}

.indiana-dragging {
    cursor: grab;
}
