.timeline__container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--gray900);
    z-index: 2;
    border: var(--border);
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    cursor: ew-resize;
    &-drag {
        cursor: grab;
    }
}

.timeline {
    margin-left: 1rem;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
}

.timeline__date {
    &-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        button {
            height: 2rem;
            width: 2rem;
            background: inherit;
            border: none;
            color: inherit;
            cursor: pointer;
            :hover,
            :focus {
                color: var(--teal700);
            }
            svg {
                height: 100%;
                width: 100%;
            }
        }
    }
    grid-row: 1;
    grid-column: 1;

    color: var(--gray500);
    font-size: 1rem;
}

.timeline__event {
    &-container {
        grid-row: 2;
        grid-column: 1;
        display: flex;
    }
    &-item {
        width: 3rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0.2rem 1rem 0.5rem 0;
    }

    &-history {
        display: flex;
        margin: 0.8rem 0;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        &:hover {
            background: var(--gray800);
        }
        &-active {
            color: var(--teal500) !important;
            path {
                fill: var(--teal500) !important;
            }
        }
    }
}

.indiana-scroll-container {
    overflow: auto;
    &--dragging {
        scroll-behavior: auto !important;
        > * {
            pointer-events: none;
            cursor: grab;
        }
    }
    &--hide-scrollbars {
        overflow: hidden;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none !important;
            height: 0 !important;
            width: 0 !important;
            background: transparent !important;
            -webkit-appearance: none !important;
        }
    }
    &--native-scroll {
        overflow: auto;
    }
}

.indiana-dragging {
    cursor: grab;
}

.book {
    transform-style: preserve-3d;
    position: relative;
    height: 3.6rem;
    cursor: pointer;
    backface-visibility: visible;
}

.front,
.back,
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 3rem;
    height: 3.5rem;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform 0.5s ease-in-out, box-shadow 0.35s ease-in-out, margin 0.35s ease-in-out;
}

.front {
    display: grid;
    place-items: center;
    color: white;
}
.front span {
    font-size: 250%;
    font-weight: 900;
}

.front,
.back,
.page1,
.page3,
.page5,
.page2,
.page4,
.page6 {
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    outline: solid 1px black;
}

.front,
.back {
    outline: solid 2px black;
}

.page1,
.page2 {
    background: #ffffff;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}
.page2 {
}

.page3 {
    background: #f3f3f3;
}
.page4 {
    background: #f1f1f1;
}

.page5,
.page6 {
    background: #f6f6f6;
    mask-repeat: no-repeat;
    mask-position: center;
}

.book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page1 {
    margin: 0;
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page2 {
    margin: 0;
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}

.book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 3em 3em 0 rgba(0, 0, 0, 0.5);
}

.book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
}
