.timeline__container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--gray900);
    z-index: 2;
    border: var(--border);
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    cursor: ew-resize;
    &-drag {
        cursor: grab;
    }
}

.timeline {
    margin-left: 1rem;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
}

.timeline__date {
    &-header {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        button {
            height: 2rem;
            width: 2rem;
            background: inherit;
            border: none;
            color: inherit;
            cursor: pointer;
            :hover,
            :focus {
                color: var(--teal700);
            }
            svg {
                height: 100%;
                width: 100%;
            }
        }
    }
    grid-row: 1;
    grid-column: 1;

    color: var(--gray100);
    font-size: 1.5rem;
    &-suffix {
        font-size: 0.7rem;
        color: var(--gray500);
    }
}

.timeline__event {
    &-container {
        grid-row: 2;
        grid-column: 1;
        display: flex;
    }
    &-item {
        width: 3rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        cursor: pointer;
        margin: 0.2rem 1rem 0.5rem 0;
        &-icon {
            background: var(--gray900);
            width: 3rem;
            height: 3rem;
            box-sizing: border-box;
            -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            &:hover {
                transform: translateY(-2px);
            }
            &-active {
                transform: translateY(-10px) !important;
                background: var(--gray800) !important;
                clip-path: circle(62.9% at 50% 50%);
            }
            &-sm {
                width: 2rem;
                height: 2rem;
                z-index: 1;
            }
        }
        &-filter {
            background: var(--gray900) !important;
        }
    }

    &-history {
        display: flex;
        margin: 0.8rem 0;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        &:hover {
            background: var(--gray800);
        }
        &-active {
            color: var(--teal500) !important;
            path {
                fill: var(--teal500) !important;
            }
        }
    }
}

.indiana-scroll-container {
    overflow: auto;
    &--dragging {
        scroll-behavior: auto !important;
        > * {
            pointer-events: none;
            cursor: grab;
        }
    }
    &--hide-scrollbars {
        overflow: hidden;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none !important;
            height: 0 !important;
            width: 0 !important;
            background: transparent !important;
            -webkit-appearance: none !important;
        }
    }
    &--native-scroll {
        overflow: auto;
    }
}

.indiana-dragging {
    cursor: grab;
}
