html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark: black;
    --light: white;

    --gray100: #f7fafc;
    --gray200: #edf2f7;
    --gray300: #e2e8f0;
    --gray400: #cbd5e0;
    --gray500: #a0aec0;
    --gray600: #718096;
    --gray700: #4a5568;
    --gray800: #2c384b;
    --gray900: #181e2a;
    --gray900a: rgba(24, 30, 42, 0.96);

    --blue50: #eff6ff;
    --blue100: #ebf8ff;
    --blue200: #bee3f8;
    --blue300: #90cdf4;
    --blue400: #63b3ed;
    --blue500: #4299e1;
    --blue600: #3283ce;
    --blue680: #2b79bd;
    --blue700: #296bb1;
    --blue800: #2c5282;
    --blue900: #2a4365;

    --green50: #f0fdf4;
    --green100: #d1fae5;
    --green200: #a7f3d0;
    --green300: #6ee7b7;
    --green400: #34d399;
    --green500: #10b981;
    --green600: #059669;
    --green700: #047857;
    --green800: #065f46;
    --green900: #064e3b;

    --teal50: #f0fdfa;
    --teal100: #ccfbf1;
    --teal200: #99f6e4;
    --teal300: #5eead4;
    --teal400: #2dd4bf;
    --teal500: #14b8a6;
    --teal600: #0d9488;
    --teal700: #0f766e;
    --teal800: #115e59;
    --teal900: #134e4a;

    --amber50: #fffbeb;
    --amber100: #fef3c7;
    --amber200: #fde68a;
    --amber300: #fcd34d;
    --amber400: #fbbf24;
    --amber500: #f59e0b;
    --amber600: #d97706;
    --amber700: #b45309;
    --amber800: #92400e;
    --amber900: #78350f;

    --violet50: #f5f3ff;
    --violet100: #ede9fe;
    --violet200: #ddd6fe;
    --violet300: #c4b5fd;
    --violet400: #a78bfa;
    --violet500: #8b5cf6;
    --violet600: #7c3aed;
    --violet700: #6d28d9;
    --violet800: #5b21b6;
    --violet900: #4c1d95;

    --red50: #fbf6f6;
    --red100: #fee2e2;
    --red200: #fecaca;
    --red300: #fca5a5;
    --red400: #f87171;
    --red500: #ef4444;
    --red600: #dc2626;
    --red700: #b91c1c;
    --red800: #991b1b;
    --red900: #7f1d1d;

    --pink50: #fdf2f8;
    --pink100: #fce7f3;
    --pink200: #fbcfe8;
    --pink300: #f9a8d4;
    --pink400: #f472b6;
    --pink500: #ec4899;
    --pink600: #db2777;
    --pink700: #be185d;
    --pink800: #9d174d;
    --pink900: #831843;

    --border: solid 1px black;

    --shadow100: 0 2px 4px -2px rgba(50, 50, 93, 0.25), 0 4px 8px -4px rgba(0, 0, 0, 0.3), 0 -3px 5px -3px rgba(0, 0, 0, 0.025);
    --shadow500: 0 11px 25px -5px rgba(50, 50, 93, 0.25), 0 6px 14px -8px rgba(0, 0, 0, 0.3), 0 -6px 14px -6px rgba(0, 0, 0, 0.025);
    --shadow900: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);

    // --dominant: var(--green);
    --accent: var(--amber400);
    // --third: var(--gold);
    --background-main: var(--gray200);

    --header-size: 3rem;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// body {
//     display: grid;
//     grid-template-columns: minmax(2rem, 1fr) min(100% - 4rem, 1500px) minmax(2rem, 1fr);
//     align-items: center;
// }

body {
    background-color: var(--gray900);
    cursor: wait;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

canvas {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--gray900);
}

.tempLoading {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    position: absolute;
    color: var(--gray300);
    background-color: var(--gray900);
    z-index: 5;
    &-title {
        h1 {
            font-size: 3rem;
            color: var(--gray100);
        }
        text-align: center;
    }
    &-quote {
        background-color: var(--gray800);
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 35%;
        p {
            width: 100%;
        }
        span {
            width: 100%;
            text-align: end;
        }
    }
    &-loading {
        text-align: center;
        strong {
            font-size: 2rem;
        }
    }
}
